.product_thumb__wrap {
    background: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    background-position: center;
    background-color: #f7f7f7;
    border-radius: 0.05rem;
}

.product_thumb__wrap::before {
    content: ' ';
    display: block;
    padding-top: 120%;
}

.product_info {
    width: 100%;
    padding-top: 0.08rem;
}
.category {
    font-size: 0.11rem;
    color: #b2b2b2;
    line-height: 1.46;
}
.category span {
    position: relative;
}
.category span + span {
    margin-left: 0.1rem;
}
.category span + span::before {
    content: '';
    display: block;
    position: absolute;
    width: 0.02rem;
    height: 0.02rem;
    background-color: #b2b2b2;
    top: 50%;
    left: -0.06rem;
    border-radius: 50%;
}

.title {
    margin-top: 0.02rem;
    font-size: 0.13rem;
    letter-spacing: -0.0013rem;
    line-height: 1.46;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.price {
    margin-top: 0.05rem;
    line-height: 1.5;
    font-size: 0.16rem;
    font-weight: 700;
}

.price__discount {
    color: #FF0045;
    font-size: 0.12rem;
}
.price__original {
    color: #CBCBCB;
    margin-left: 0.05rem;
    font-size: 0.12rem;
}

/* list type */
.product__item__list {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.product__item__list + .product__item__list{
    margin-top: 0.15rem;
}

.product__item__list .product_thumb__wrap {
    width: 1.1rem;
    margin-right: 0.15rem;
    flex-shrink: 0;
}

.product__item__list .product_info {
    padding: 0;
}