.header_box {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.5rem;
    width: 100%;
    max-width: inherit;
    padding: 0 15px;
    box-sizing: border-box;
    z-index: 9999;
    background-color: transparent;
    transition: background-color 300ms;
}
.header_box.header_box__scroll {
    background-color: #fff;
}
.header_box.header_box__scroll .icon_button  img {
    filter: brightness(0);
}

.header_box .icon_button + .icon_button  {
    margin-left: 0.1rem;
}