.time_deal__section {
    padding-top: 0.3rem;
}
.banner {
    height: 0.8rem;
    background-color: #ddd;
    margin: 0 0.15rem 0.15rem;
    border-radius: 0.05rem;
}
.product__list_wrap {
    padding: 0 0.15rem;
}